--
-- PostgreSQL database dump
--

\restrict rFTAGYqlMqmtXNYVGHygL1XyIQMes7Cgdl4SKcbpBihaAQqOm19dafzp5jMvEOe

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_companies_size; Type: TYPE; Schema: public; Owner: mvs_user
--

CREATE TYPE public.enum_companies_size AS ENUM (
    'small',
    'medium',
    'large',
    'enterprise'
);


ALTER TYPE public.enum_companies_size OWNER TO mvs_user;

--
-- Name: enum_companies_status; Type: TYPE; Schema: public; Owner: mvs_user
--

CREATE TYPE public.enum_companies_status AS ENUM (
    'active',
    'inactive',
    'suspended'
);


ALTER TYPE public.enum_companies_status OWNER TO mvs_user;

--
-- Name: enum_tenants_plan; Type: TYPE; Schema: public; Owner: mvs_user
--

CREATE TYPE public.enum_tenants_plan AS ENUM (
    'basic',
    'standard',
    'premium',
    'enterprise'
);


ALTER TYPE public.enum_tenants_plan OWNER TO mvs_user;

--
-- Name: enum_tenants_status; Type: TYPE; Schema: public; Owner: mvs_user
--

CREATE TYPE public.enum_tenants_status AS ENUM (
    'active',
    'inactive',
    'suspended',
    'trial'
);


ALTER TYPE public.enum_tenants_status OWNER TO mvs_user;

--
-- Name: enum_users_role; Type: TYPE; Schema: public; Owner: mvs_user
--

CREATE TYPE public.enum_users_role AS ENUM (
    'root',
    'audit',
    'admin',
    'user'
);


ALTER TYPE public.enum_users_role OWNER TO mvs_user;

--
-- Name: enum_users_status; Type: TYPE; Schema: public; Owner: mvs_user
--

CREATE TYPE public.enum_users_status AS ENUM (
    'active',
    'inactive',
    'suspended'
);


ALTER TYPE public.enum_users_status OWNER TO mvs_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: mvs_user
--

CREATE TABLE public.companies (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    name character varying(200) NOT NULL,
    business_number character varying(20) NOT NULL,
    ceo_name character varying(100) NOT NULL,
    address text NOT NULL,
    phone character varying(20) NOT NULL,
    email character varying(255) NOT NULL,
    website character varying(255),
    industry character varying(100),
    size public.enum_companies_size,
    status public.enum_companies_status DEFAULT 'active'::public.enum_companies_status NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.companies OWNER TO mvs_user;

--
-- Name: companies_id_seq; Type: SEQUENCE; Schema: public; Owner: mvs_user
--

CREATE SEQUENCE public.companies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.companies_id_seq OWNER TO mvs_user;

--
-- Name: companies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mvs_user
--

ALTER SEQUENCE public.companies_id_seq OWNED BY public.companies.id;


--
-- Name: menus; Type: TABLE; Schema: public; Owner: mvs_user
--

CREATE TABLE public.menus (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    parent_id integer,
    name_ko character varying(100) NOT NULL,
    name_en character varying(100) NOT NULL,
    route character varying(255) NOT NULL,
    icon character varying(50) NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    level integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    description text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.menus OWNER TO mvs_user;

--
-- Name: menus_id_seq; Type: SEQUENCE; Schema: public; Owner: mvs_user
--

CREATE SEQUENCE public.menus_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.menus_id_seq OWNER TO mvs_user;

--
-- Name: menus_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mvs_user
--

ALTER SEQUENCE public.menus_id_seq OWNED BY public.menus.id;


--
-- Name: tenants; Type: TABLE; Schema: public; Owner: mvs_user
--

CREATE TABLE public.tenants (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    domain character varying(255) NOT NULL,
    subdomain character varying(100) NOT NULL,
    plan public.enum_tenants_plan DEFAULT 'basic'::public.enum_tenants_plan NOT NULL,
    max_users integer DEFAULT 10 NOT NULL,
    max_companies integer DEFAULT 1 NOT NULL,
    features json DEFAULT '[]'::json NOT NULL,
    status public.enum_tenants_status DEFAULT 'trial'::public.enum_tenants_status NOT NULL,
    trial_ends_at timestamp with time zone,
    subscription_id character varying(255),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.tenants OWNER TO mvs_user;

--
-- Name: tenants_id_seq; Type: SEQUENCE; Schema: public; Owner: mvs_user
--

CREATE SEQUENCE public.tenants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tenants_id_seq OWNER TO mvs_user;

--
-- Name: tenants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mvs_user
--

ALTER SEQUENCE public.tenants_id_seq OWNED BY public.tenants.id;


--
-- Name: user_permissions; Type: TABLE; Schema: public; Owner: mvs_user
--

CREATE TABLE public.user_permissions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    menu_id integer NOT NULL,
    can_view boolean DEFAULT false NOT NULL,
    can_create boolean DEFAULT false NOT NULL,
    can_edit boolean DEFAULT false NOT NULL,
    can_delete boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.user_permissions OWNER TO mvs_user;

--
-- Name: user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: mvs_user
--

CREATE SEQUENCE public.user_permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_permissions_id_seq OWNER TO mvs_user;

--
-- Name: user_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mvs_user
--

ALTER SEQUENCE public.user_permissions_id_seq OWNED BY public.user_permissions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: mvs_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    company_id integer NOT NULL,
    userid character varying(50) NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public.enum_users_role DEFAULT 'user'::public.enum_users_role NOT NULL,
    department character varying(100),
    "position" character varying(100),
    status public.enum_users_status DEFAULT 'active'::public.enum_users_status NOT NULL,
    last_login timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.users OWNER TO mvs_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: mvs_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO mvs_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mvs_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: companies id; Type: DEFAULT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies ALTER COLUMN id SET DEFAULT nextval('public.companies_id_seq'::regclass);


--
-- Name: menus id; Type: DEFAULT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.menus ALTER COLUMN id SET DEFAULT nextval('public.menus_id_seq'::regclass);


--
-- Name: tenants id; Type: DEFAULT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants ALTER COLUMN id SET DEFAULT nextval('public.tenants_id_seq'::regclass);


--
-- Name: user_permissions id; Type: DEFAULT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.user_permissions ALTER COLUMN id SET DEFAULT nextval('public.user_permissions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: mvs_user
--

COPY public.companies (id, tenant_id, name, business_number, ceo_name, address, phone, email, website, industry, size, status, created_at, updated_at) FROM stdin;
1	1	MVS Company	123-45-67890	CEO Name	Company Address	02-1234-5678	info@mvs.com	https://mvs.com	Technology	\N	active	2025-10-01 20:48:07.76+00	2025-10-01 20:48:07.76+00
\.


--
-- Data for Name: menus; Type: TABLE DATA; Schema: public; Owner: mvs_user
--



--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: mvs_user
--

COPY public.tenants (id, name, domain, subdomain, plan, max_users, max_companies, features, status, trial_ends_at, subscription_id, created_at, updated_at) FROM stdin;
1	Default Tenant	localhost	default	enterprise	1000	10	{}	active	\N	\N	2025-10-01 20:48:07.746+00	2025-10-01 20:48:07.746+00
\.


--
-- Data for Name: user_permissions; Type: TABLE DATA; Schema: public; Owner: mvs_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: mvs_user
--

COPY public.users (id, tenant_id, company_id, userid, username, email, password_hash, role, department, "position", status, last_login, created_at, updated_at) FROM stdin;
2	1	1	admin	admin	admin@mvs.com	$2b$10$gsS5oyDjB0xzGELwl27t8.52POo4BlOdJYNO5JV6y3G69LF06d6eW	admin	IT	Administrator	active	\N	2025-10-01 20:49:53.262+00	2025-10-01 20:49:53.262+00
1	1	1	root	root	root@mvs.com	$2b$10$SRWu5nNMtME3MYLT8S09YeM19ggKC6cbGK7N9TSyAESUHbqz.vpw6	root	IT	Administrator	active	2025-10-01 23:29:08.908+00	2025-10-01 20:48:07.768+00	2025-10-01 23:29:08.909+00
\.


--
-- Name: companies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mvs_user
--

SELECT pg_catalog.setval('public.companies_id_seq', 1, true);


--
-- Name: menus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mvs_user
--

SELECT pg_catalog.setval('public.menus_id_seq', 164, true);


--
-- Name: tenants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mvs_user
--

SELECT pg_catalog.setval('public.tenants_id_seq', 1, true);


--
-- Name: user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mvs_user
--

SELECT pg_catalog.setval('public.user_permissions_id_seq', 114, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mvs_user
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: companies companies_business_number_key; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key UNIQUE (business_number);


--
-- Name: companies companies_business_number_key1; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key1 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key10; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key10 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key11; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key11 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key12; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key12 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key13; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key13 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key14; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key14 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key15; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key15 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key16; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key16 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key17; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key17 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key18; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key18 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key2; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key2 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key3; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key3 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key4; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key4 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key5; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key5 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key6; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key6 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key7; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key7 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key8; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key8 UNIQUE (business_number);


--
-- Name: companies companies_business_number_key9; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_business_number_key9 UNIQUE (business_number);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: menus menus_pkey; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.menus
    ADD CONSTRAINT menus_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_domain_key; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key UNIQUE (domain);


--
-- Name: tenants tenants_domain_key1; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key1 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key10; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key10 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key11; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key11 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key12; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key12 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key13; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key13 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key14; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key14 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key15; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key15 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key16; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key16 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key17; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key17 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key18; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key18 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key2; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key2 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key3; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key3 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key4; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key4 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key5; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key5 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key6; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key6 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key7; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key7 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key8; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key8 UNIQUE (domain);


--
-- Name: tenants tenants_domain_key9; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_domain_key9 UNIQUE (domain);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_subdomain_key; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key1; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key1 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key10; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key10 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key11; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key11 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key12; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key12 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key13; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key13 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key14; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key14 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key15; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key15 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key16; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key16 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key17; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key17 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key18; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key18 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key2; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key2 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key3; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key3 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key4; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key4 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key5; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key5 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key6; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key6 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key7; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key7 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key8; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key8 UNIQUE (subdomain);


--
-- Name: tenants tenants_subdomain_key9; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key9 UNIQUE (subdomain);


--
-- Name: user_permissions user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_email_key1; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key1 UNIQUE (email);


--
-- Name: users users_email_key10; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key10 UNIQUE (email);


--
-- Name: users users_email_key11; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key11 UNIQUE (email);


--
-- Name: users users_email_key12; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key12 UNIQUE (email);


--
-- Name: users users_email_key13; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key13 UNIQUE (email);


--
-- Name: users users_email_key14; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key14 UNIQUE (email);


--
-- Name: users users_email_key15; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key15 UNIQUE (email);


--
-- Name: users users_email_key16; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key16 UNIQUE (email);


--
-- Name: users users_email_key17; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key17 UNIQUE (email);


--
-- Name: users users_email_key18; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key18 UNIQUE (email);


--
-- Name: users users_email_key2; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key2 UNIQUE (email);


--
-- Name: users users_email_key3; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key3 UNIQUE (email);


--
-- Name: users users_email_key4; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key4 UNIQUE (email);


--
-- Name: users users_email_key5; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key5 UNIQUE (email);


--
-- Name: users users_email_key6; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key6 UNIQUE (email);


--
-- Name: users users_email_key7; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key7 UNIQUE (email);


--
-- Name: users users_email_key8; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key8 UNIQUE (email);


--
-- Name: users users_email_key9; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key9 UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_userid_key; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key UNIQUE (userid);


--
-- Name: users users_userid_key1; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key1 UNIQUE (userid);


--
-- Name: users users_userid_key10; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key10 UNIQUE (userid);


--
-- Name: users users_userid_key11; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key11 UNIQUE (userid);


--
-- Name: users users_userid_key12; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key12 UNIQUE (userid);


--
-- Name: users users_userid_key13; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key13 UNIQUE (userid);


--
-- Name: users users_userid_key14; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key14 UNIQUE (userid);


--
-- Name: users users_userid_key15; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key15 UNIQUE (userid);


--
-- Name: users users_userid_key16; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key16 UNIQUE (userid);


--
-- Name: users users_userid_key17; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key17 UNIQUE (userid);


--
-- Name: users users_userid_key18; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key18 UNIQUE (userid);


--
-- Name: users users_userid_key2; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key2 UNIQUE (userid);


--
-- Name: users users_userid_key3; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key3 UNIQUE (userid);


--
-- Name: users users_userid_key4; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key4 UNIQUE (userid);


--
-- Name: users users_userid_key5; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key5 UNIQUE (userid);


--
-- Name: users users_userid_key6; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key6 UNIQUE (userid);


--
-- Name: users users_userid_key7; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key7 UNIQUE (userid);


--
-- Name: users users_userid_key8; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key8 UNIQUE (userid);


--
-- Name: users users_userid_key9; Type: CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_userid_key9 UNIQUE (userid);


--
-- Name: companies_business_number; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX companies_business_number ON public.companies USING btree (business_number);


--
-- Name: companies_name; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX companies_name ON public.companies USING btree (name);


--
-- Name: companies_tenant_id; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX companies_tenant_id ON public.companies USING btree (tenant_id);


--
-- Name: menus_parent_id; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX menus_parent_id ON public.menus USING btree (parent_id);


--
-- Name: menus_route; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX menus_route ON public.menus USING btree (route);


--
-- Name: menus_tenant_id; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX menus_tenant_id ON public.menus USING btree (tenant_id);


--
-- Name: tenants_domain; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX tenants_domain ON public.tenants USING btree (domain);


--
-- Name: tenants_status; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX tenants_status ON public.tenants USING btree (status);


--
-- Name: tenants_subdomain; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX tenants_subdomain ON public.tenants USING btree (subdomain);


--
-- Name: user_permissions_menu_id; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX user_permissions_menu_id ON public.user_permissions USING btree (menu_id);


--
-- Name: user_permissions_user_id; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX user_permissions_user_id ON public.user_permissions USING btree (user_id);


--
-- Name: user_permissions_user_id_menu_id; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE UNIQUE INDEX user_permissions_user_id_menu_id ON public.user_permissions USING btree (user_id, menu_id);


--
-- Name: users_email; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX users_email ON public.users USING btree (email);


--
-- Name: users_tenant_id_company_id; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX users_tenant_id_company_id ON public.users USING btree (tenant_id, company_id);


--
-- Name: users_userid; Type: INDEX; Schema: public; Owner: mvs_user
--

CREATE INDEX users_userid ON public.users USING btree (userid);


--
-- Name: companies companies_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: menus menus_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.menus
    ADD CONSTRAINT menus_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.menus(id);


--
-- Name: menus menus_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.menus
    ADD CONSTRAINT menus_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_permissions user_permissions_menu_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT user_permissions_menu_id_fkey FOREIGN KEY (menu_id) REFERENCES public.menus(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_permissions user_permissions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT user_permissions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mvs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO mvs_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES  TO mvs_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES  TO mvs_user;


--
-- PostgreSQL database dump complete
--

\unrestrict rFTAGYqlMqmtXNYVGHygL1XyIQMes7Cgdl4SKcbpBihaAQqOm19dafzp5jMvEOe

